DJANGO_SECRET_KEY=secret-key
DJANGO_DEBUG=on/off
DJANGO_ALLOWED_HOSTS=[]
DATABASE_URL=postgres://db_user:db_password@localhost:5432/db_name
FCM_SERVER_KEY=dksjfhskjdhf

POSTGRES_NAME=name
POSTGRES_USER=user
POSTGRES_PASSWORD=password

NIKITA_TEST=1
NIKITA_LOGIN=
NIKITA_PASSWORD=
NIKITA_SENDER=
